<div class="jumbotron">
  <h1 class="display-4 text-primary">Welcome to pubSpot!</h1>
  <p class="lead text-muted">This is an actively developed, <code>alpha</code> version of this interface.</p>
  <hr class="my-4">
  <p>To view the segment preview, visit the Segment item in the navigation...</p>
</div>
